.jumbotron {
  background-color: white;
  height: 450px;
  background: url("../images/background.png");
  background-repeat: no-repeat;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

#bg{

}

ol.breadcrumb{
	background-color: #CC1C00;
}

.sendHome {
	color: white;
}
