.jumbotron {
  background-image: url(/images/Background.png);
  background-size: inherit;
  background-repeat: no-repeat;
}

.jumbotron .container {
	height: 275px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}