<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Let's Get Better</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://localhost:3000/css/styles.css">

	<!-- VENDOR SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

	<!-- APPLICATION SCRIPTS -->
	<script src="http://localhost:3000/js/app.js"></script>
</head>
<body>
	<div class="jumbotron">
    <div class="container">
      <div id="user-list">
				<script id="user-template" type="text/x-handlebars-template">
				{{#each users}}
	    		<h1>Welcome {{userName}}</h1>
	    	{{/each}}
	    	</script>
    	</div>
    	<p>Lets make you feel better</p>
  	</div>
	</div>
</body>
</html>